In [1]:
import price_data
import psycopg2
import pandas as pd
import datetime

In [2]:
def get_df(columns='*', tickers=(), startdate='', enddate=''):
    """ Returns the date of the last table update. """
    con = None
    qfilter = ''

    if tickers:
        qfilter = ' WHERE ticker in {}'.format(tickers)
    if startdate:
        f = ' date >= \'{}\'::DATE'.format(startdate)
        if qfilter:
            qfilter = qfilter + ' AND {}'.format(str(f))
        else:
            qfilter = ' WHERE {}'.format(f)
    if enddate:
        f = ' date <= \'{}\'::DATE'.format(enddate)
        if qfilter:
            qfilter = qfilter + ' AND {}'.format(f)
        else:
            qfilter = ' WHERE {}'.format(f)

    sql = 'SELECT {} FROM price_data{}'.format(columns, qfilter)
    try:
        con = psycopg2.connect("dbname='tradingdb' user='trader' "
                               "host='localhost' password='123456'")
        return pd.read_sql(sql, con)
    except psycopg2.OperationalError, e:
        print "Unable to connect to the database:\n" + str(e)
        return None
    finally:
        if con:
            print "closing"
            con.close()


def sma(df, period):
    return pd.rolling_mean(df, window=period)


def rsi(df, period=210):
    if len(df) >= period:
        ma = sma(df, period)
        return df['adj_close'] / ma['adj_close']
    else:
        return None
    return rsi_ratio

In [9]:
sdate = datetime.date.today() - datetime.timedelta(days=700)
yesterday = datetime.date.today() - datetime.timedelta(days=1)
all_tickers = price_data.get_current_tickers()
#     ratios = pd.Series(None, index=all_tickers)
ratios = pd.DataFrame(None, columns=['yesterday', 'today'], index=all_tickers)
ratios

closing
closing

     yesterday today
A          NaN   NaN
AAL        NaN   NaN
AAMC       NaN   NaN
AAN        NaN   NaN
AAOI       NaN   NaN
AAON       NaN   NaN
AAP        NaN   NaN
AAPL       NaN   NaN
AAT        NaN   NaN
AAWW       NaN   NaN
ABAX       NaN   NaN
ABBV       NaN   NaN
ABC        NaN   NaN
ABCB       NaN   NaN
ABCO       NaN   NaN
ABG        NaN   NaN
ABM        NaN   NaN
ABMD       NaN   NaN
ABT        NaN   NaN
ACAD       NaN   NaN
ACAS       NaN   NaN
ACAT       NaN   NaN
ACC        NaN   NaN
ACCO       NaN   NaN
ACET       NaN   NaN
ACGL       NaN   NaN
ACHC       NaN   NaN
ACHN       NaN   NaN
ACIW       NaN   NaN
ACLS       NaN   NaN
...        ...   ...
XPO        NaN   NaN
XRAY       NaN   NaN
XRM        NaN   NaN
XRX        NaN   NaN
XXIA       NaN   NaN
XXII       NaN   NaN
XYL        NaN   NaN
Y          NaN   NaN
YDKN       NaN   NaN
YELP       NaN   NaN
YHOO       NaN   NaN
YORW       NaN   NaN
YRCW       NaN   NaN
YUM        NaN   NaN
YUME       NaN   NaN
Z          NaN   NaN
ZAGG       NaN   NaN
ZBH        NaN   NaN
ZBRA       NaN   NaN
ZEN        NaN   NaN
ZEUS       NaN   NaN
ZGNX       NaN   NaN
ZION       NaN   NaN
ZIOP       NaN   NaN
ZIXI       NaN   NaN
ZLTQ       NaN   NaN
ZNGA       NaN   NaN
ZOES       NaN   NaN
ZTS        NaN   NaN
ZUMZ       NaN   NaN

[2659 rows x 2 columns]

In [28]:
all_tickers_df = get_df(columns='date, ticker, adj_close', startdate=sdate)
sorted_df = all_tickers_df.set_index(['ticker', 'date']).sort_index(0)

for ticker in all_tickers:
    df = sorted_df.loc[ticker]
    df['sma'] = sma(df, 427)#.adj_close
    df['rsi'] = rsi(df, period=427)
    ratios.loc[ticker] = [df.iloc[-1].rsi, df.iloc[-2].rsi]

closing

/home/sean/projects/price_env/price/lib/python2.7/site-packages/ipykernel/__main__.py:36: FutureWarning: pd.rolling_mean is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(window=427,center=False).mean()

In [29]:
ratios = ratios[ratios.notnull()]
# ratios.sort_values(inplace=True)

In [31]:
ratios[(ratios.today >= 1.47) & (ratios.today < 1.48) & (ratios.yesterday < ratios.today)]

     yesterday    today
ACCO   1.44864  1.47993
CRIS    1.4289  1.47654
HWAY   1.45866  1.47203
NTRI   1.46894  1.47965